<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공개 명함</title>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QT41THVTH2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-QT41THVTH2');
    </script>
</head>
<body th:utext="${publicCardHtml}">
</body>
</html>
