<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>403 - 요청 거부</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/error_style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">


<body>
<div class="bg-decoration"></div>

<div class="error-card">
    <div class="error-code">403</div>
    <div class="error-msg">접근 권한이 없습니다!</div>
    <div class="error-sub">
        이 페이지를 볼 수 있는 권한이 부족한 것 같아요.<br>
        아래 버튼을 눌러 메인화면으로 돌아가세요.
    </div>
    <a th:href="@{/}" class="btn-home">홈으로 돌아가기</a>
</div>
</body>
</html>