<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Error Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="box">
            <h1>Error</h1>
            <p th:text="${status}"></p>
            <p th:text="${error}"></p>
            <p th:text="${message}"></p>
        </div>

        <div>
            <h1>Error Page</h1>
            error code : <span th:text="${code}"></span>
            <br>error msg : <span th:text="${msg}"></span>
        </div>

    </body>
</html>
